@use "./util.scss" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 16px;

	@include media(sm) {
		font-size: 20px;
	}
}

.font--title {
	font-family: "ivymode-variable", serif;

	font-variation-settings: "wght" 380, "ital" 0;
}

.font--body {
	font-family: "brandon-grotesque", sans-serif;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// -webkit-text-stroke: -0.45px;
}

body {
	@extend .font--body;

	min-height: 100vh;
	line-height: 1.5;

	background-color: $color--light;
	color: $color--dark;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

h1,
h2,
h3 {
	@extend .font--title;

	text-wrap: balance;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	line-height: 130%;
}

h1 {
	font-size: 3rem;
	line-height: 115%;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

.button {
	@extend .group-hz, .gap--xs;

	border: 1px solid $color--primary;
	border-radius: sp(xl);
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	border-bottom: 1px solid $color--grey;
}

.container {
	max-width: bp(2xl);
	width: 100%;
}
