@use "./util.scss" as *;
@use "./reset.scss";

/* Hide reCAPTCHA badge (as per Google recommendations, display privacy notice) */
.grecaptcha-badge {
	visibility: hidden;
}

p.small {
	font-size: calc((sp(sm) + sp(xs)) / 2);
}

.hint {
	font-size: sp(xs);
	color: color("dark-overlay");
}

.error-message {
	font-size: sp(xs);
	color: color("primary");
	margin-top: sp(xxxs);
	display: block;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.group-hz > .flex-1 {
	min-width: 0;
}

.button {
	@extend .group-hz, .gap--xs, .vt--center;

	border: 1px solid $color--primary;
	border-radius: sp(xl);
	width: max-content;
	height: fit-content;
	line-height: 125%;

	@extend .transition--short;
	transform-origin: center center;

	&:active {
		transform: scale(1.05);
	}

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid $color--grey;
}

.container {
	max-width: bp(xxxl);
	width: 100%;
	padding-left: sp(sm);
	padding-right: sp(sm);

	// Other styles handled in util.scss
}

.overlay--blur {
	background-color: color(light-overlay);
	-webkit-backdrop-filter: blur(sp(xxs));
	backdrop-filter: blur(sp(xxs));
}

.separator {
	padding-top: sp(sm);
	padding-bottom: sp(sm);
	box-sizing: border-box;
	border-top: 1px solid color("grey");

	&:first-child {
		border-top: none;
		padding-top: 0;
	}
}

.nav__wrapper {
	@extend .overlay--blur;

	position: sticky;
	top: 0;
	z-index: 999;

	@include media(0, lg) {
		padding: 0 sp(sm);
	}

	@include media(lg) {
		padding: sp(sm);
	}
}

.nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include media(0, lg) {
		padding: sp(sm) 0;
	}

	@include media(lg) {
		padding: 0;
	}
}

.nav__logo {
	display: block;

	img {
		height: sp(lg);
	}
}

.nav-links__wrapper {
	list-style-type: none;
	a {
		text-decoration: none;
		color: color(dark);
	}
}

.nav-links-drawer__wrapper {
	padding-left: 0;
	padding-right: 0;

	display: grid;
	grid-template-rows: 0fr;
	overflow: hidden;
	transition: grid-template-rows 0.23s ease;

	li {
		@extend .separator;
	}

	&.is-open {
		grid-template-rows: 1fr;
	}
}

.nav-links-drawer__inner {
	min-height: 0;
}

.video-hero__wrapper {
	position: relative;
	background-color: color("dark-overlay");
}

.video-hero__background {
	position: absolute;
	z-index: -1;

	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video-hero__container {
	padding-top: max(sp(xxl), 6.66vw);
	padding-bottom: max(sp(xxl), 6.66vw);
}

.sac-process__wrapper {
	display: flex;

	@include media(0, md) {
		flex-direction: column;
		row-gap: sp(md);
	}

	@include media(md) {
		column-gap: sp(xl);
		max-width: bp(lg);
	}
}

.sac-process__step {
	@include media(0, md) {
		display: flex;
		column-gap: sp(sm);

		.icon {
			flex-shrink: 0;
		}

		&:not(:last-child) {
			padding-bottom: sp(md);
			border-bottom: 1px solid $color--grey;
		}
	}

	@include media(md) {
		flex: 1;
		text-align: center;

		p {
			text-wrap: balance;
		}
	}
}

.showcase__container {
	display: flex;

	@include media(0, md) {
		flex-direction: column;
		row-gap: sp(lg);

		.showcase-text__wrapper {
			text-align: center;
			align-items: center;

			.pill {
				align-self: center;
			}

			p {
				text-wrap: balance;
			}

			img {
				width: 100%;
				height: auto;

				aspect-ratio: 16 / 9;
			}
		}
	}

	@include media(md) {
		align-items: center;
		flex-direction: row;

		img {
			object-fit: cover;
		}

		.showcase-text__wrapper {
			height: fit-content;

			flex: 1;
		}
	}

	@include media(md, lg) {
		column-gap: sp(xl);
		.showcase-image__wrapper {
			flex: 1;

			img {
				aspect-ratio: 1 / 1;
			}
		}
	}

	@include media(lg) {
		row-gap: 0;

		.showcase-text__wrapper {
			padding-left: sp(xl);
			padding-right: sp(xl);
		}

		.showcase-image__wrapper {
			flex: 2;

			img {
				aspect-ratio: 4 / 3;
			}
		}
	}
}

.faq__accordion {
	@extend .separator;

	.faq-drawer__wrapper {
		transition: grid-template-rows 0.23s ease;
		display: grid;
		grid-template-rows: 0fr;

		.faq-drawer__inner {
			overflow: hidden;
		}
	}

	&.faq__accordion--open {
		.faq-drawer__wrapper {
			grid-template-rows: 1fr;
		}
	}
}

.step-nav__wrapper {
	@extend .overlay--blur;

	border-top: 1px solid color("grey");
	margin-top: -1px;

	&.step-nav__wrapper--sticky {
		position: sticky;
		bottom: 0;
		z-index: 999;
	}
}

.step__header {
	@extend .group-vt, .gap--md, .hz--center, .talign--center;
}

.blank-cards-choose__grid {
	* {
		user-select: none;
	}

	display: grid;
	column-gap: sp(sm);
	row-gap: sp(md);

	width: 100%;

	@include media(0, sm) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include media(sm, md) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include media(md) {
		grid-template-columns: repeat(4, 1fr);
	}

	@include media(lg) {
		grid-template-columns: repeat(5, 1fr);
	}
	@include media(xl) {
		grid-template-columns: repeat(6, 1fr);
	}
}

.blank-cards-choose__card {
	input {
		display: none;
	}
}

@keyframes skeleton-pulse {
	from {
		opacity: 0.33;
	}
	to {
		opacity: 0.66;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes bubble-in {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	75% {
		opacity: 1;
		transform: scale(1.1);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.blank-cards-choose__card-skeleton {
	aspect-ratio: 4 / 5;
	background-color: color("grey");
	animation: skeleton-pulse 1.5s ease infinite alternate;
}

.blank-cards-choose__button {
	position: relative;

	@extend .transition--short;

	outline-color: transparent;
	outline-width: 0;
	outline-style: solid;

	&.blank-cards-choose__button--selected {
		outline-color: color("primary");
		outline-width: sp(xxxs);
	}
}

.blank-cards-chooose__quantity-indicator {
	transform-origin: center center;
	animation: transition("medium") bubble-in ease forwards;

	position: absolute;
	top: sp(xs);
	right: sp(xs);

	background-color: color("light");
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: sp(md);
	height: sp(md);
	font-size: sp(sm);

	&.contains-non-zero-value {
		background-color: color("primary");
		color: color("light");
	}
}

// @keyframes hint-slide-in {
// 	from {
// 		opacity: 0;
// 		transform: translate(sp(xs), -50%) scale(0.5);
// 	}
// 	5% {
// 		opacity: 1;
// 		transform: translate(sp(xs), calc(-100% + sp(xxs))) scale(1);
// 	}
// 	95% {
// 		opacity: 1;
// 		transform: translate(sp(xs), calc(-100% + sp(xxs))) scale(1);
// 	}
// 	to {
// 		opacity: 0;
// 		transform: translate(sp(xs), -50%) scale(0.5);
// 	}
// }

.blank-cards-choose__remove-card-hint {
	@extend .overlay--blur;

	position: absolute;
	left: 0;
	top: 0;
	transform: translate(sp(xs), -50%) scale(0.5);
	opacity: 0;

	display: flex;
	width: calc(100% - sp(xs) * 2);
	font-size: sp(xs);
	justify-content: center;
	align-items: center;

	border: 1px solid color("grey");
	transition: opacity 0.23s ease;
	box-sizing: border-box;
	border-radius: sp(xxs);
	padding: sp(xxs);

	transition: ease 0.23s all;
	// animation: hint-slide-in 4.6s ease forwards;
	pointer-events: none;

	&.hint--show {
		opacity: 1;
		transform: translate(sp(xs), calc(-100% + sp(xxs))) scale(1);
	}
}

.blank-cards-choose__selected-card {
	width: sp(xxl);
	height: sp(xxl);
	position: relative;

	@include media(md) {
		// Avoid on mobile
		&:hover .blank-cards-choose__selected-card-icon-wrapper .icon {
			mask-image: url("/icons/minus.svg");
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top left;
	}

	.blank-cards-choose__selected-card-icon-wrapper {
		position: absolute;
		top: sp(xxxs);
		right: sp(xxxs);
		border-radius: 50%;
		width: sp(md);
		height: sp(md);
		background-color: color("primary");
		display: flex;
		justify-content: center;
		align-items: center;

		.icon {
			mask-image: url("/icons/tick.svg");
		}
	}
}

.required--asterisk::after {
	content: "*";
	color: color("primary");
	font-weight: normal;
}

.terms__container {
	h1,
	h2 {
		margin-top: sp(md);
	}

	h3 {
		margin-top: sp(xs);
	}

	ul {
		list-style-type: disc;
		padding-left: sp(md);
		box-sizing: border-box;
	}

	> :first-child {
		margin: 0;
	}
}

@keyframes checkout-success-mouth-rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}

@keyframes checkout-success-eye-blink {
	from {
		transform: scaleY(1);
	}
	45% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0.25);
	}
	55% {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(1);
	}
}

.checkout-success__animation {
	width: min(12rem, 90vw);
	height: auto;

	path {
		fill: color("dark");
	}

	#mouth {
		animation: checkout-success-mouth-rotate 1s ease forwards;
	}

	#right-eye {
		transform-origin: center center;
		animation: checkout-success-eye-blink 3s ease forwards;
	}
}

.text-balance {
	text-wrap: balance;
}

.message-input__wrapper {
	@extend .transition--short;

	display: grid;

	width: 100%;
	max-width: bp(xl);

	box-sizing: border-box;

	.left-page {
		flex: 1;
		background: linear-gradient(to right, color("light"), color("grey"));
	}

	.right-page {
		border: 1px solid color("grey");
		aspect-ratio: 1 / 1.4142;
		position: relative;
		container: right-page / size;
		overflow: hidden;
		width: 100%;
	}

	@include media(0, sm) {
		grid-template-columns: 1fr 10fr 1fr;
	}

	@include media(sm, md) {
		grid-template-columns: 1fr 7.5fr 1fr;
	}

	@include media(md, lg) {
		grid-template-columns: 1fr 5fr 1fr;
	}

	@include media(lg) {
		grid-template-columns: 1fr 3.33fr 1fr;
	}
}

.message-input {
	font-weight: 300;
	width: 100%;
	height: 100%;
	border: unset;
	box-sizing: border-box;
	resize: none;
	background: transparent;
	line-height: 125%;
	letter-spacing: 1%;
	overflow: hidden;
}

.about-us__container {
	@include media(md) {
		display: flex;
		flex-direction: row;

		max-width: bp(xl);

		.about-us__content,
		.about-us__image-wrapper {
			flex: 1;
		}

		.about-us__content {
			justify-content: center;
			padding: 0 sp(xl);
		}
	}
}

.about-us__image {
	@include media(0, md) {
		aspect-ratio: 1 / 1;
		object-fit: cover;
	}
}

.feature__container {
	display: grid;
	width: 100%;

	@include media(lg) {
		grid-template-columns: repeat(6, 1fr);

		.feature-text__wrapper,
		.feature-scroll__wrapper {
			position: relative;
			grid-row: 1;
		}
		.feature-text__wrapper {
			grid-column: 1 / 4;
			padding-left: sp(xl);
			padding-right: sp(xl);
			height: 100%;

			z-index: 1;
		}

		.feature-scroll__wrapper {
			grid-column: 3 / -1;

			z-index: 0;
		}
	}
}

.feature-scroll__wrapper {
	aspect-ratio: 16 / 9;
	position: relative;
	overflow: hidden;
}

.feature-scroll__container {
	width: 100%;
	height: 100%;
	overflow-x: auto;
	display: flex;
	gap: sp(sm);
	scroll-snap-type: x mandatory;

	> img {
		scroll-snap-align: center;
		flex: none;
		height: 100%;
		aspect-ratio: 4 / 5 !important;
	}
}

.feature-scroll__gradient {
	position: absolute;
	top: -5px;
	left: -5px;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	pointer-events: none;
	z-index: 100;

	background: linear-gradient(to right, color("light") 0%, transparent 25%);
	// -webkit-mask-image: linear-gradient(
	// 	to right,
	// 	rgba(0, 0, 0, 0) 0%,
	// 	rgba(0, 0, 0, 1) 10%,
	// 	rgba(0, 0, 0, 1) 90%,
	// 	rgba(0, 0, 0, 0) 100%
	// );
}

// .offcanvas__wrapper {
// 	position: fixed;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	height: 100%;

// 	display: flex;
// 	justify-content: flex-end;

// 	@include media(0, md) {
// 		flex-direction: column;
// 	}
// }

body {
	position: relative;

	@include media(0, md) {
		transition: bottom 0.23s ease-in-out;
		bottom: 0rem;
	}

	@include media(md) {
		transition: right 0.23s ease-in-out;
		right: 0rem;
	}
}

body.offcanvas--open {
	@include media(0, md) {
		bottom: 50vh;
		.offcanvas__wrapper {
			bottom: 0rem;
		}
	}

	@include media(md) {
		right: 16rem;

		.offcanvas__wrapper {
			right: 0rem;
		}
	}

	.offcanvas__backdrop {
		background-color: color("light-overlay");
	}
}

body:not(.offcanvas--open) .offcanvas__backdrop {
	pointer-events: none;
}

.offcanvas__backdrop {
	background-color: transparent;
	transition: background-color 0.23s ease-in-out;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
}

.offcanvas__wrapper {
	background-color: color("light");
	position: fixed;
	z-index: 999;
	overflow-y: auto;

	padding: sp(md) sp(sm) sp(sm);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	@include media(0, md) {
		width: 100%;
		height: 50vh;
		left: 0;
		bottom: -50vh;
		transition: bottom 0.23s ease-in-out;
		border-top: 1px solid color("grey");
		text-align: center;

		> * {
			display: flex;
			flex-direction: column;
			min-height: 0;
		}

		.offcanvas__title-image {
			flex: 1;
			gap: sp(sm) !important;
			min-height: 0;

			h3 {
				flex-shrink: 0;
			}

			img {
				aspect-ratio: 4 / 5;
				width: 100%;
				height: 100%;
				object-fit: contain;
				flex: 1;
				min-height: 0;
			}
		}

		.offcanvas__button-group {
			align-items: center;
		}
	}

	@include media(md) {
		height: 100%;
		justify-content: safe center;
		top: 0;
		transition: right 0.23s ease-in-out;
		right: -16rem;
		width: 16rem;
		border-left: 1px solid color("grey");
	}
}
