// Color Variables
$color--dark: #0d0d0d;
$color--grey: #d8d8d8;
$color--primary: #ff5e5b;
$color--light: #ffffea;
$color--secondary: #00cecb;
$color--accent: #ffed66;

// Breakpoint Variables
$bp-xs: 480px;
$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
$bp-2xl: 1536px;

// Spacing Variables
$sp-xs: 0.5rem;
$sp-sm: 1rem;
$sp-md: 1.5rem;
$sp-lg: 2rem;
$sp-xl: 3rem;
$sp-2xl: 4rem;

// Media Mixin
@mixin media($min: null, $max: null) {
	@if $min and $max {
		@media (min-width: $min) and (max-width: $max) {
			@content;
		}
	} @else if $min {
		@media (min-width: $min) {
			@content;
		}
	} @else if $max {
		@media (max-width: $max) {
			@content;
		}
	}
}

// Group Utility Classes
$spacings: (
	"xs": $sp-xs,
	"sm": $sp-sm,
	"md": $sp-md,
	"lg": $sp-lg,
	"xl": $sp-xl,
	"2xl": $sp-2xl,
);

@mixin group($direction, $gap) {
	display: flex;
	@if $direction == "vt" {
		flex-direction: column;
		row-gap: $gap;
	} @else if $direction == "hz" {
		flex-direction: row;
		column-gap: $gap;
	}
}

.group {
	@each $name, $size in $spacings {
		&--vt-#{$name} {
			@include group("vt", $size);
		}
		&--hz-#{$name} {
			@include group("hz", $size);
		}
	}
}

// Icon Utility Classes
$colors: (
	"dark": $color--dark,
	"grey": $color--grey,
	"primary": $color--primary,
	"light": $color--light,
	"secondary": $color--secondary,
	"accent": $color--accent,
);

$icons: (
	"bag",
	"card-reader",
	"choose",
	"long-arrow",
	"minus",
	"pencil",
	"plane",
	"plus",
	"short-arrow",
	"tick"
);

.icon {
	display: inline-block;
	width: $sp-sm;
	aspect-ratio: 1 / 1;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: currentColor;

	@each $name in $icons {
		&--#{$name} {
			mask-image: url("/icons/#{$name}.svg");
		}
	}

	@each $name, $color in $colors {
		&--#{$name} {
			background-color: $color;
		}
	}
}

// Width Utility Classes
.width {
	@each $name, $size in $spacings {
		&--#{$name} {
			width: $size;
		}
	}
}

// Height Utility Classes
.height {
	@each $name, $size in $spacings {
		&--#{$name} {
			height: $size;
		}
	}
}
